.header__lang-link {
  margin: 18px 0 6px 18px;
  padding: 0;
  line-height: 28px;
  font-size: 24px;
  font-weight: normal;
  text-decoration: none;
  color: #fff;
  transition: opacity .2s linear;
}

.header__lang-link:hover {
  opacity: 80%;
}

@media screen and (max-width: 768px) {
  .header__lang-link {
    line-height: calc(20px + (28 - 20) * ( (100vw - 320px) / (768 - 320) ));
    font-size: calc(18px + (24 - 18) * ( (100vw - 320px) / (768 - 320) ));
  }
}

@media screen and (max-width: 320px) {
  .header__lang-link {
    line-height: 20px;
    font-size: 18px;
  }
}