.cover {
  margin: 0 auto 0;
  width: 1184px;
  min-width: 320px;
  min-height: 740px;
  background-image: url(../../images/cover-trains.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cover::before {
  content: '';
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: #2A2C2F;
  opacity: 0.3;
  position: absolute;
  transition: opacity .2s linear;
}

.cover:hover::before {
  opacity: 0.8;
}

@media screen and (max-width: 1280px) {
  .cover {
    width: calc(1024px + (1184 - 1024) * ( (100vw - 1024px) / (1280 - 1024) ));
    min-height: calc(640px + (740 - 640) * ( (100vw - 1024px) / (1280 - 1024) ));
  }
}

@media screen and (max-width: 1024px) {
  .cover {
    width: 100vw;
    height: 62.5vw;
    min-height: 200px;
  }
}