.place {
  padding-top: 80px;
  display: grid;
  grid-template-columns: minmax(440px, 460px) minmax(456px, 484px);
  grid-template-rows: repeat(8, max-content);
  justify-content: space-between;
}

.place:first-child {
  padding: 0;
}

@media screen and (max-width: 1280px) {
  .place {
    gap: 0 calc(32px + (40 - 32) * ( (100vw - 1024px) / (1280 - 1024) ));
  }
}

@media screen and (max-width: 1024px) {
  .place {
    grid-template-columns: minmax(340px, 440px) minmax(352px, 456px);
    padding-top: calc(73px + (80 - 73) * ( (100vw - 768px) / (1024 - 768) ));
    gap: 0 calc(28px + (32 - 28) * ( (100vw - 768px) / (1024 - 768) ));
  }
}

@media screen and (max-width: 768px) {
  .place {
    grid-template-columns: minmax(240px, 340px) minmax(252px, 352px);
    padding-top: calc(50px + (73 - 50) * ( (100vw - 535px) / (768 - 535) ));
    gap: 0 calc(24px + (28 - 24) * ( (100vw - 535px) / (768 - 535) ));
  }
}

@media screen and (max-width: 700px) {
  .place {
    grid-template-columns: minmax(288px, 100%);
    padding-top: 50px;
  }
}